@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --bg: #fff;
  --text: #333;
  --blue: #2352de;
  --gray: #f6f6f8;
}

body {
  color: var(--text);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
  font-family: "Open Sans", sans-serif;

  .active & {
    overflow: hidden;
  }
}

section {
  padding-block: 140px;

  @media (max-width: 768px) {
    padding-block: 60px;
  }
}

.title {
  font-size: 48px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 60px;

  @media (max-width: 768px) {
    font-size: 34px;
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
}

.btn {
  display: flex;
  background-color: var(--blue);
  color: var(--bg);
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s;

  &:hover {
    scale: 1.05;
  }
}
.footer {
  display: flex;
  justify-content: center;
  background-color: #343740;
  padding-block: 50px;
}
main {
  flex: 1;
}
.header {
  color: #fff;
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;

  @media (max-width: 768px) {
    top: 25px;
  }
}
.container {
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  position: relative;
  z-index: 1;
}
.header__menu {
  display: flex;
  gap: 35px;
  transition: all 0.5s;
  @media (max-width: 1024px) {
    gap: 16px;
  }

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    visibility: hidden;
    opacity: 0;
    background-color: blueviolet;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    .active & {
      visibility: visible;
      opacity: 1;
    }
  }
}
.header__item {
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.header__link {
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
  &:hover {
    color: aqua;
  }
}

.header__burger {
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  height: 20px;
  span {
    background-color: #fff;
    width: 100%;
    height: 2px;
    transition: all 0.3s;
  }
  .active & {
    span:nth-child(1) {
      transform: translateY(12px) rotate(45deg);
    }

    span:nth-child(2) {
      scale: 0;
    }

    span:nth-child(3) {
      transform: translateY(-6px) rotate(-45deg);
    }
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

/* Hero */

.hero {
  color: var(--bg);
  background-image: linear-gradient(rgba(35, 82, 222, 0.5)),
    url("../images/background\ image.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 0;
  padding-top: 120px;
}

.container {
}
.hero__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__title {
  margin-top: auto;
  font-size: 90px;
  font-weight: 700;

  span {
    font-size: 48px;
    display: block;
  }

  @media (max-width: 1024px) {
    font-size: 76px;

    span {
      font-size: 42px;
    }
  }

  @media (max-width: 768px) {
    font-size: 56px;
    span {
      font-size: 34px;
    }
  }

  @media (max-width: 567px) {
    font-size: 44px;
    span {
      font-size: 28px;
    }
  }
}
.hero__link {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
/* ABOUT */

.about {
}
.about__title {
}
.title {
}
.about__text {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.container {
}

.skills {
}
.container {
}
.skills__title {
}
.title {
}
.skills__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;

  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 24px;
  }
}
.skills__image {
  img {
    max-width: 100%;
  }
}
.skills__items {
  display: flex;
  flex-direction: column;
  gap: 85px;
  max-width: 665px;
  width: 100%;
  @media (max-width: 1024px) {
    gap: 36px;
  }
}
.skills__item {
  width: 100%;
  display: flex;
  align-items: center;
}
.skills__name {
  width: 64px;
  font-size: 18px;
  font-weight: 600;
}
.skills__blue {
  background-color: var(--blue);
  width: 100%;
  height: 100%;
}

.skills__line {
  width: 100%;
  background-color: #d8d8de;
  height: 32px;
}

/* Services */

.services {
}
.container {
}
.services__title {
}
.title {
}
.services__items {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__item {
  max-width: 330px;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.services__heading {
  margin-block: 30px;
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
}
.services__text {
}

.works {
}
.container {
}
.works__title {
  text-align: center;
}
.title {
}
.works__buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}
.works__btn {
  font-size: 24px;
  font-weight: 600;
  white-space: nowrap;
  &.active {
    color: var(--blue);
  }
}
.active {
}
.works__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin-bottom: 60px;
  justify-content: center;

  @media (max-width: 768px) {
    gap: 30px;
  }
}
.works__item {
  max-width: 360px;

  @media (max-width: 490px) {
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
.works__link {
}
.works__more {
  margin: auto;
  font-size: 18px;
  font-weight: 600;
}
.btn {
}

.stats {
  padding-block: 140px;

   @media  (max-width:768px){
    padding-block: 60px;
  }
}
.container {
}
.stats__boxes {
  display: flex;
  align-items: start;
  gap: 16px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  
}
.stats__card {
  background-color: #f6f6f8;
  border: 1px solid #dbdbde;
  max-width: 280px;
  padding: 50px;
  width: 100%;
  
   @media  (max-width:607px){
    max-width: 100%;
  }
}
.stats__text {
  margin-block: 20px;
}
.stats__number {
  font-size: 44px;
  font-weight: 600;
}

.feedback {
  background-color: #f6f6f8;
}
.feedback__title {
  text-align: center;
}
.feedback__content {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    gap: 30px;
  }
}
.feedback__info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}
.feedback__img {
}
.feedback__name {
  color: var(--blue);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;

  @media (max-width: 567px) {
    font-size: 20px;
  }
}
.feedback__quote {
  font-style: italic;
  font-size: 24px;
  line-height: 1.3;
  font-weight: 300;

  @media (max-width: 567px) {
    font-size: 20px;
  }
}

.feedback__video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    max-width: 100%;
  }
}
.feedback__play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 567px) {
    width: 50px;
  }
}

.contacts {
  padding-bottom: 140px;
  @media (max-width:1024px) {
    padding-bottom: 60px;
  }
}
.container {
}
.contacts__title {
  @media (max-width:1024px){
    text-align: center;
  }
}
.title {
}
.contacts__content {
  display: flex;
  gap: 100px;
  align-items: start;

  @media (max-width:1024px){
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
.contacts__info {
  max-width: 530px;
}
.contacts__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.contacts__link {
  color: var(--blue);
  transition: all 0.3s;
  &:hover {
    scale: 1.1;
  }
}
.contacts__socials {
  display: flex;
  gap: 20px;
}
.contacts__social {
  transition: all 0.3s;
  &:hover {
    scale: 1.1;
  }
}
.contacts__form {
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts__row {
  display: flex;
  gap: 30px;

  @media (max-width:768px){
    flex-direction: column;
  }
}
.contacts__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}
.contacts__input {
  border: none;
  background-color: var(--gray);
  padding: 13px 15px;
}
.contacts__textarea {
  border: none;
  background-color: var(--gray);
  padding: 13px 15px;
  resize: none;
  min-height: 115px;
}
.contacts__button {
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
}
.contacts__text {
  margin-bottom: 30px;
}

/* ------------Адаптив----------- */

span:nth-child(1) {
}
span:nth-child(2) {
}
span:nth-child(3) {
}
